.textTitle {
    color: #0F1721;
    font-style: normal;
    line-height: 55px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-top: 10px;
}

.textTitleFranquicias {
    color: #0F1721;
    font-style: normal;
    line-height: 55px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.containerImageFranquicias {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.containerImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerImage:hover {
    background-color: black;
}

.imageFranquicias {
    position: relative;
    width: 420px;
    height: 420px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

}

.imageFranquicias:hover {
    opacity: .3;
    transition: all 1s;
    -webkit-transition: all 1s;

}

.logoFranquicia {
    position: absolute;
}

.botonLinkedin {
    background-color: #35EE9A;
    border-color: #35EE9A;
    color: #2C2C2C;
    width: 250px;
    margin-top: 40px;
    height: 65px;
    border-radius: 15px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}