.textSectionValores {
    margin-bottom: 100px;
}

.containerValores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 80px 0 0 0;
    width: 100%;
    gap: 50px;
}

.itemValores {
    display: flex;
}

.iconValores {
    width: 120px;
    height: 120px;
    margin-right: 40px;
}

.titleValores {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    color: #0F1721;
}

.textValores {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    width: 20vw;
    color: #686868;
}

.textTitleValores {
    color: #0F1721;
    font-style: normal;
    line-height: 55px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 50px;
}