@media screen and (max-width: 1520px) {
    .logo {
        margin-left: 30px;
        width: 170px;
        height: 40px;
    }

    .heroPrincipal {
        height: auto;
    }

    .nav__link {
        font-size: 18px;
    }

    .containerHeroText {
        margin-top: 80px;
    }

    .heroText {
        font-size: 48px;
        width: 560px;
        line-height: 55px;
        padding-left: 50px;
    }

    .compuBanner {
        width: 400px;
        height: 330px;
        margin-bottom: 150px;
    }

    .botonContactanosHero {
        width: 200px;
        height: 60px;
    }

    .containerTextSecondary {
        margin: 0;
    }

    .imageBackground {
        width: 300px;
        padding: 0;
        margin-top: 140px;
        margin-left: 120px;
    }

    .heroTextSubtitle {
        padding-left: 50px;
        width: 600px;
    }

    .cruz {
        padding-left: 0;
    }

    .cruz2 {
        margin-left: 380px;
    }

    .cruz3 {
        display: none;
    }

    .imageBackground {
        width: 250px;
        margin-left: 110px;
    }


    .textTitle {
        font-size: 48px;
    }

    .textSubtitle {
        font-size: 24px;
    }

    .containerValores {
        justify-content: center;
        gap: 30px;
    }

    .itemValores {
        margin-top: 0px;
    }

    .iconValores {
        width: 100px;
        height: 100px;
    }

    .titleValores {
        font-size: 20px;
    }

    .textValores {
        font-size: 16px;
        width: 320px;
    }

    .textImpulsaFranquicia {
        width: 70%;
    }

    .iconServicios {
        width: 80px;
        height: 80px;
    }

    .titleServicios {
        font-size: 20px;
        width: 200px;
    }

    .titleServiciosLarge {
        font-size: 20px;
        width: 200px;
    }

    .itemServicios {
        margin: 30px;
    }

    .textServicios {
        font-size: 16px;
        width: 80%;
    }

    .imageContenedor {
        font-size: 20px;
    }

    .textContactanos {
        font-size: 28px;
    }

    .containerImage {
        gap: 20px;
    }

    .imageFranquicias {
        width: 300px;
        height: 300px;
    }

    .imageLinkedin {
        width: 280px;
        height: 280px;
    }

    .textTitleFranquicias {
        font-size: 48px;
    }


    .sectionLinkedin {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 60px;
    }

    .backgroundForm {
        height: 100%;
    }

    .textSectionForm1 {
        font-size: 40px;
        margin-top: 400px;
    }

    .textSectionForm2 {
        font-size: 40px;
    }

    .textForm {
        font-size: 20px;
    }

    .formularioConsultas {
        width: 560px;
    }


}