@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Ubuntu:wght@300;400&display=swap');
//Components
@import "../sass/components/navbar";
@import "../sass/components/footer";
// Layout
@import "../sass/layout/heroPrincipal";
// Sections
@import "../sass/sections/sectionLinkedin";
@import "../sass/sections/sectionFranquicias";
@import "../sass/sections/sectionValores";
@import "../sass/sections/sectionServicios";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root {
    background-color: #F6F5F5;
}

.textResalt {
    color: #35EE9A;
    font-weight: 500;
}

.textResaltForm {
    color: #35EE9A;
    font-weight: 700;
}

.textResalt2 {
    color: #664998;
    font-weight: 600;
}

.imageContenedor {
    background-image: url(../img/ContenedorPromo.png);
    flex-direction: column;
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 110px;

}

.textContactanos {
    font-size: 37px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    line-height: 47px;
    color: white;
    width: 50vw;
}