@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Ubuntu:wght@300;400&display=swap');
//Components
@import "../sass/components/navbar";
@import "../sass/components/footer";
// Layout
@import "../sass/layout/heroPrincipal";
// Sections
@import "../sass/sections/sectionLinkedin";
@import "../sass/sections/sectionFranquicias";
@import "../sass/sections/sectionValores";
@import "../sass/sections/sectionServicios";
// Medias Querys
@import "../sass/base/mediaQuerys";
@import "../sass/base/mediaQuerysTablet";
@import "../sass/base/mediaQueryMobile";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root {
    background-color: #F6F5F5;
}

.textResalt {
    color: #35EE9A;
    font-weight: 500;
}

.textResaltForm {
    color: #35EE9A;
    font-weight: 700;
}

.textResalt2 {
    color: #664998;
    font-weight: 600;
}