
*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}



li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(204, 204, 204);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0F1721;
    height: 70px;
}

.nav__brand {
    margin-left: 120px;
    width: 186px;
    height: 43px;
}

.nav__link {
    color: white;
    font-size: 20px;
    gap: 20px;
    font-family: 'Lato', sans-serif;

    &:hover {
        color: white;
    }
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0px;
    gap: 50px;
}

.nav__toggler {
    display: none;
}

.nav__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: rgb(204, 204, 204);
    transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
    .nav__toggler {
        display: block;
        cursor: pointer;
    }

    .nav__menu {
        position: fixed;
        align-items: flex-start;
        top: 7vh;
        gap: 0px;
        right: 0;
        height: 100vw;
        width: 100vw;
        background-color: #0F1721;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        z-index: 1;
    }
}

/* Active Class */
.nav__active {
    transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}