.heroPrincipal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../img/hero-principal.png);
    height: 102vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.containerHeroText {
    margin-bottom: 200px;
    width: 40vw;
}

.cruz {
    position: absolute;
    padding-top: 20px;
    padding-left: 40px;
}

.cruz2 {
    position: absolute;
    padding-left: 575px;
}

.cruz3 {
    position: absolute;
    padding-top: 440px;
}

.imageBackground {
    position: absolute;
    width: 550px;
    padding-left: 170px;
    padding-top: 205px;
}

.heroText {
    color: white;
    font-size: 64px;
    line-height: 100px;
    font-family: 'Ubuntu', sans-serif;
    width: 30vw;
    font-weight: 700;
    padding-left: 100px;
    position: relative;
    margin-top: 60px;
}

.heroTextSubtitle {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: white;
    margin-top: 60px;
    width: 33vw;
    padding-left: 100px;
}

.fontButtonContacto {
    text-decoration: none;
    color: #2C2C2C;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.containerCompu {
    padding-bottom: 250px;
    padding-right: 100px;
}

.compuBanner {
    height: 600px;
    width: 700px;
}

.botonContactanosHero {
    background-color: #35EE9A;
    border-color: #35EE9A;
    width: 250px;
    margin-top: 30px;
    margin-left: 100px;
    height: 65px;
    border-radius: 15px;
}

.botonContactanosHero:hover {
    background-color: white;
}

.botonContactanos {
    background-color: #35EE9A;
    border-color: #35EE9A;
    width: 250px;
    margin-top: 30px;
    margin-left: 100px;
    height: 65px;
    border-radius: 15px;
}

.containerTextSecondary {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    line-height: 50px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.textSecondary {
    font-family: 'Lato', sans-serif;
    line-height: 49px;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
    width: 45vw;
    color: #686868;
}